<h2>All Movies</h2>

<%= form_tag(search_path, method: "get", class: "form-inline my-2 my-lg-0") do %>
  <%= text_field_tag :search,
                      params[:search],
                      placeholder: "Search for Actor",
                      class: "form-control mr-sm-2" %>

    <span class="input-group-btn">
      <%= submit_tag "Search", class: 'btn btn-info' %>
    </span>
<% end %>

<table style="width: 100%">
  <thead>
    <tr>
      <th>Movie</th>
      <th>Description</th>
      <th>Year</th>
      <th>Director</th>
    </tr>
  </thead>

  <tbody>
  <% @movies.each do |movie| %>
    <tr>
      <td><%= movie.movie_title %></td>
      <td><%= movie.description %></td>
      <td><%= movie.year %></td>
      <td><%= movie.director %></td>
    </tr>
  <% end %>
  </tbody>
</table>
